@model project_management_for_ISOGES.Entities.RequerimientoEnt
@{
    ViewBag.Title = "CrearRequerimiento";
}

<div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
     data-sidebar-position="fixed" data-header-position="fixed">
    <div class="position-relative overflow-hidden radial-gradient min-vh-100 d-flex align-items-center justify-content-center">
        <div class="d-flex align-items-center justify-content-center w-100">
            <div class="row justify-content-center w-100">
                <div class="col-md-10 col-lg-8 col-xxl-6">
                    <div class="card mb-0">
                        <div class="card-body">
                            @using (Html.BeginForm("CrearRequerimiento", "Requerimientos", FormMethod.Post))
                            {
                                <form>
                                    <div class="row mb-3">
                                        <div class="col-md-6">
                                            <label for="Nombre" class="form-label">Codigo</label>
                                            @Html.TextBoxFor(m => m.CodigoRequerimiento, new { @type = "text", @class = "form-control", @placeholder = "Codigo" })
                                        </div>
                                        <div class="col-md-6">
                                            <label for="Apellido1" class="form-label">Nombre</label>
                                            @Html.TextBoxFor(m => m.NombreRequerimiento, new { @type = "text", @class = "form-control", @placeholder = "Nombre" })
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <div class="col-md-12">
                                            <label for="Apellido2" class="form-label">Descripcion</label>
                                            @Html.TextBoxFor(m => m.DescripcionRequerimiento, new { @type = "text", @class = "form-control", @placeholder = "Descripcion" })
                                        </div>
                                    </div>
                                    <div class="row justify-content-center">
                                        <div class="col-6">
                                            <button type="submit" class="btn btn-primary w-100 py-2 fs-4 rounded-2">Crear Requerimiento</button>
                                        </div>
                                    </div>
                                </form>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



