@model project_management_for_ISOGES.Entities.CorreoEnt
@{
    ViewBag.Title = "EliminarCorreo";
}

<h2>EditarUsuario</h2>

<div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
     data-sidebar-position="fixed" data-header-position="fixed">
    <div class="position-relative overflow-hidden radial-gradient min-vh-100 d-flex align-items-center justify-content-center">
        <div class="d-flex align-items-center justify-content-center w-100">
            <div class="row justify-content-center w-100">
                <div class="col-md-10 col-lg-8 col-xxl-6">
                    <div class="card mb-0">
                        <div class="card-body">
                            @using (Html.BeginForm("EliminarCorreo", "Correo", FormMethod.Post))
                            {
                                <form>
                                    <div>
                                        @Html.TextBoxFor(m => m.IdCorreo, new { @type = "hidden", @class = "form-control", @placeholder = "IdCorreo", @readonly = "readonly" })
                                    </div>
                                    <div class="row mb-3">
                                        <div class="col-md-6">
                                            <label for="Nombre" class="form-label">Id</label>
                                            @Html.TextBoxFor(m => m.Asunto, new { @type = "text", @class = "form-control", @placeholder = "Asunto" })
                                        </div>
                                        <div class="col-md-6">
                                            <label for="Nombre" class="form-label">Nombre</label>
                                            @Html.TextBoxFor(m => m.Cuerpo, new { @type = "text", @class = "form-control", placeholder = "Cuerpo" })
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <div class="col-md-6">
                                            <label for="Identificacion" class="form-label">Identificacion</label>
                                            @Html.TextBoxFor(m => m.Remitente, new { @type = "text", @class = "form-control", placeholder = "Remitente" })
                                        </div>
                                    </div>
                                    <div class="row justify-content-center">
                                        <div class="col-6">
                                            <button type="submit" class="btn btn-success w-100 py-2 fs-4 rounded-2">Eliminar Correo</button>
                                        </div>
                                    </div>
                                </form>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



